---
import WebringTable from "@/components/webring-table.tsx";
import WelcomeMsg from "@/components/welcome-msg.astro";
import Header from "../components/layout/header.astro";
import RootLayout from "../layouts/root-layout.astro";
---

<RootLayout>
	<Header />
	<main class="container max-w-5xl mx-auto text-primary my-6 px-4">
		<WelcomeMsg />
		<WebringTable client:idle />
	</main>
</RootLayout>
