---
import { SITE_CONFIG } from "@/config/site.config";
---

<p class="max-w-[75ch]">Welcome to the official webring of DCISM students & alumni from the <a class="link" href="https://usc.edu.ph/">University of San Carlos</a> in Cebu, Philippines. This project aims to foster a professional network of Carolinians and enhance the visibility of our talented student body.
</br></br>
If you'd like to join us, create a pull request in our <a href={SITE_CONFIG.githubUrl} class="link">GitHub repository</a> and wait for maintainer approval.
</p>