name: Code quality

on:
    push:
      branches: [ main ]
    pull_request:
      branches: [ main ]

jobs:
  run-biome:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm i

      - name: Run linter
        run: npm run check && npm run format
